html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #373737;
}

p {
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.6em;
}

.profile-section {
    position: absolute;
    text-align: center;
    width: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    margin: 0 auto;
}